
body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	font-family: Lato;
}

/*LOGIN SCREEN*/

#logo-box {
	position: relative;
	margin: 0 auto;
	width: 250px;
	top: 40px;


}

.login-input {
	position: absolute;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	background: transparent;
	font-size: 18px;
	border: 0px;
	outline: none;
	border-bottom: 2px solid white;
	padding-bottom: 5px;
}

.login-input::-webkit-input-placeholder  {
	color: white;
	text-align: center;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

#username {
	width: 240px;
	top: 380px;
}

#password {
	width: 240px;
	top: 420px;
}

#forgot-password {
	position: absolute;
	color: white;
	font-size: 13px;
	left: 50%;
	transform: translateX(-50%);
	width: 105px;
	height: 15px;
	top: 455px;
}

#login-button {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 122px;
	height: 35px;
	top: 500px;
	background-color: white;
}

#login-text {
	position: relative;
	width: 122px;
	text-align: center;
	font-size: 16px;
	top: 8px;
}

#create-account {
	width: 95px;
	height: 20px;
	top: 406px;
}





/*MAP SCREEN*/


#map_map-box {
	position: absolute;
	width: 363px;
	height: 573px;
	margin: 0 auto;
}

#map_info {
	position: absolute;
	width: 363px;
	height: 50px;
	background-color: #5BBDB0;
	background: rgba(91, 189, 176, 0.6);
	z-index: 10;
}

#map_time {
	position: absolute;
	text-align: center;
	top: 5px;
	font-size: 30px;
	color: white;
	width: 130px;
	height: 50px;
}

#map_dist {
	position: absolute;
	text-align: center;
	left: 245px;
	top: 5px;
	font-size: 30px;
	color: white;
	width: 130px;
	height: 50px;
}

/*	position: absolute;
	width: 363px;
	height: 50px;
	background-color: #5485BB;
	background: rgba(0, 0, 0, 0.5);
	z-index: 5;*/

#map_camera-box {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 175px;
	top: 9px;
	color:white;
}

#map_stop {
	position: absolute;
	width: 120px;
	height: 40px;
	text-align: center;
	font-size: 23px;
	color: white;
	background-color: #E61616; 
	/*or #de6868*/
	top: 507px;
	right: 10px;
}

#map_stop-text {
	position: absolute;
	top: -17px;
	left: 12px;
}








/*stuff below is about positioning phone and screen, default button behavior, etc
should be same between all screens*/

#phone-container {
	position: relative;
	margin: 0 auto;
	top: 10px;
	width: 440px;
	z-index: 1;

}

#screen-container {
	position: absolute;
	margin: 0 auto;
	width: 363px;
	height: 643px;
	left: 37px;
	top: 67px;
	background-color: #5BBDB0;
/*	background-color: white;*/
	z-index: 2;
}

#status-bar {
	position: absolute;
	width: 364px;
	height: 24px;
}

#editable-screen {
	position: absolute;
	width: 363px;
	height: 559px;
	top: 24px;
}

#nav-bar {
	position: absolute;
	width: 363px;
	height: 60px;
	top: 584px;
	background-color: #189786
}

#back-button {
	position: absolute;
	width: 20px;
	height: 31.5px;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
}

#home-button {
	position: absolute;
	width: 34px;
	height: 28.5px;
	top: 50%;
	transform: translateY(-50%);
	left: 110px;
}

#chat-button {
	position: absolute;
	width: 32px;
	height: 30px;
	top: 50%;
	transform: translateY(-35%);
	left: 215px;
}

#stats-button {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 50%;
	transform: translateY(-50%);
	left: 310px;
}

img {
	width: 100%;
}

.button {
	position: relative;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 5px;
}

