#stats-container {
    background-color: white;
    padding-top: 20px;
}

.stat-block {
    padding-left: 20px;
    /*height: 55px;*/
}

.stat-walktime {
    font-weight: bold;
    font-size: 18px;
    margin-right: 15px;
}

.stat-distance {
    font-weight: bold;
    font-size: 18px;
}

.stat-partner {
    float: right;
    color: gray;
}

.stat-button {
    position: relative;
    border-radius: 3px;
    background-color: #FFD07B;
    color: black;
    margin-right: 15px;
    margin-top: 6px;
    padding: 5px;
    text-align: center;
}

.stat-split {
    background: gray no-repeat scroll center;
    margin: 10px 12.5% 10px;
    height: 1px;
    width: 75%;
}
